.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.p-5 {
  padding: 10px !important;
}

.justify-content-center {
  justify-content: center;
}

.gap-2 {
  gap: 20px !important;
}

.w-full {
  width: 100%;
}
